.other_cards{
    padding-top: 12px;
    padding-right: 12px;
    font-size: 1.4rem;
    text-align: right;
    color:var(--link-color);
    cursor: pointer;
}
.allCards{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap:10px;
    padding:20px;
    width: 100%;
}
.img-container{
    width: 30%;
}
.allCards img{
    width: 100%;
    filter:grayscale(100%);
    transition:.3s ease;
}
.allCards img:hover{
    scale: 1.2;
    filter: grayscale(0%);
}
.supports{
    padding:2rem;
    font-size: 1.4rem;
}
.support_text{
    margin-bottom: 2rem;
}
.supports img{
    width:4rem;
}
.msg,.mail{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 8px;
    padding:1rem;
    background-color:#f4f4f4 ;
    border-radius: 8px;
}