@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
body{
    background-color:#010713;
}
.App{
    height: 100%;
    font-family: 'Poppins',sans-serif;
}
.container{
    height: 100vh;
    display: grid;
    place-items: center;
}
